// COLOR VARIABLES
$color-orange: #f34d2c;
$color-gray-dark: #313131;
$color-white: #c7c7c7;


// FONT WEIGHTS
$fw-thin: 100;
$fw-lighter: 200;
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-heavy: 900;


// TYPEFACES
$font-primary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-secondary: Georgia, 'Times New Roman', Times, serif;


// RESPONSIVE BREAKPOINTS
$bp-phone: 600px;
$bp-tabport: 800px;
$bp-tabland: 1080px;
$bp-laptop: 1280px;
$bp-desktop: 1440px;
